<!-- <% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit recipe</h1>
    <div class="col-6 offset-3">
        <form action="/recipes/<%=recipe._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="recipe[name]"
                    value="<%=recipe.name %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="recipe[image]"
                    value="<%=recipe.image %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="descriptions">Description</label>
                <textarea class="form-control" type="text" id="descriptions" name="recipe[descriptions]"
                    required><%= recipe.descriptions%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update recipe</button>
            </div>
        </form>
        <a href="/recipes/<%= recipe._id%>">Back To recipe</a>

    </div>
</div> -->
<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="../../styles/home.css" />

    <div class="row text-white d-flex justify-content-center">
        <h1 class="text-center">Edit recipe</h1>
        <div class="col-6 ">
            <form action="/recipes/<%=recipe._id%>?_method=PUT" method="POST" novalidate class="validated-form" onsubmit="submitForm()">
                <div class="mb-3">
                    <label class="form-label" for="name">title</label>
                    <input class="form-control" type="text" id="name" name="recipe[name]" value="<%=recipe.name %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Url</label>
                    <input class="form-control" type="text" id="image" name="recipe[image]"  value="<%=recipe.image %>" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="ingredients">ingredients</label>
                    <div class="form-group">
                        <input class="form-control" id="ingredient" placeholder="Enter ingredients here"
                            name="recipe[ingredients]" value="" />
                        <button id="ingredient-button" type="button"><i class="fa-solid fa-plus text-dark"></i></button>
                    </div>
                    
                    <li id="ingredient-group"></li>
                </div>
                <% for (let ingredient of recipe.ingredients.split(",")){%>
                    <div id="ingredient-<%=ingredient%>" class="ingredient-tag">
                        <%=ingredient%>
                        <button  type="button" class="ingredient-exit">
                            <i class="fa-solid fa-xmark text-white" aria-hidden="true"></i>

                        </button>


                    
                    
                    </div>
                    

           
                
                        
                <% }%>
               




                <div class="mb-3">
                    <label class="form-label" for="directions">directions</label>
                    <div class="form-group">
                        <input type="text" class="form-control disabled" placeholder="Enter all the steps below"
                            autocomplete="off" readonly style="">

                        <button id="addRow" type="button"><i class="fa-solid fa-plus text-dark"></i></button>
                    </div>
                    <div id="newRow"></div>

                </div>

                <div class="mb-3 text-center">
                    <button type="submit" class="btn" style="background-color: orange; color: white;">Update
                        recipe</button>
                </div>
            </form>

        </div>
    </div>

    <script type="text/javascript">
        // $(document).ready(function (req,res) {
        //     // console.log(res.body.recipe.ingredients)
            
        //     for (let i = 0; i <recipe.ingredients.length; i++) {
        //     document.getElementById("ingredient").value=recipe.ingredients[i];

        //        ingred()}
        //     })
       

     
           


        // add row
        $("#addRow").click(function () {
            var html = '';
            html += `<div class="inputFormRow">
            <div class="form-group mt-3">
           
                <span class="input-group-text text-muted mr-2 h6 "
    style="height: 32px; margin-top:6.5px;margin-right:10px;padding:2px;border-radius:5px">Step 1</span>
            
               
               <input type="text" name="recipe[directions]" class="form-control m-input" placeholder="Enter step" autocomplete="off" style="height:35px; width:440px" >
                
                
             
            
               <button class="text-white btn-danger removeRow "  type="button"><i class="fa-solid fa-minus text-dark"></i></button>
             
              </div>
              `


            $('#newRow').append(html);
        });

        // remove row
        $(document).on('click', '.removeRow', function () {
            $(this).closest('.inputFormRow').remove();
        });
    </script>
    <script src="../../public/js/home.js"></script>

