<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/styles/starability.css" />
<link rel="stylesheet" type="text/css" href="/styles/heart.css" />
<link rel="stylesheet" href="../../styles/recipe.css" />

<h1>This page is for showing one recipe</h1>

<h1><%= recipe.name%></h1>
<img src="<%= recipe.image %> " alt="" />
<h3>made by <%= recipe.author.username %></h3>

<h1 class="mt-5">Star rating and saving</h1>
<h3>Average Rating <%= recipe.averageRating %></h3>
<p class="starability-result" data-rating="<%= recipe.averageRating %>"></p>
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
  style="background-color: orange; border: none"
>
  Give Your Rating
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Rating</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action="/recipes/<%=recipe._id%>"
          method="POST"
          class="validated-form mb-3"
          novalidate
        >
          <div class="mb-3">
            <fieldset class="starability-basic">
              <input
                type="radio"
                id="no-rate"
                class="input-no-rate"
                name="recipe[rating]"
                value="0"
                checked
                aria-label="No rating."
              />
              <input
                type="radio"
                id="first-rate1"
                name="recipe[rating]"
                value="1"
              />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input
                type="radio"
                id="first-rate2"
                name="recipe[rating]"
                value="2"
              />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input
                type="radio"
                id="first-rate3"
                name="recipe[rating]"
                value="3"
              />
              <label for="first-rate3" title="Average">3 stars</label>
              <input
                type="radio"
                id="first-rate4"
                name="recipe[rating]"
                value="4"
              />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input
                type="radio"
                id="first-rate5"
                name="recipe[rating]"
                value="5"
              />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <button class="btn btn-success" style="background-color: orange">
            Submit rating
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
    </div>
  </div>
</div>

<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16" style="color: gold;"  data-bs-toggle="popover" data-bs-placement="bottom"
data-content-id="popover-27" >
    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
</svg>
<div style="display: none;" id="popover-27">
    <div class="popover" role="tooltip">
        <fieldset class="starability-basic">
            <legend>First rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
    </div>
</div> -->

<!-- HEARTS -->
<form action="/recipes/<%=recipe._id%>/saved" method="post">
  <button class="btn opacity-0">
    <i class="fa-regular fa-heart" id="heart"></i>
  </button>
</form>

<% if(currentUser && recipe.author.equals(currentUser._id)) {%>
<div>
  <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button>Delete Recipe</button>
  </form>
  <a href="/recipes/<%=recipe._id%>/edit">Edit recipe</a>
</div>
<% } %>
<h1>Leave a Comment Below</h1>
<% if(currentUser){ %>
<form
  action="/recipes/<%= recipe._id %>/comments"
  method="POST"
  class="validated-form mb-3"
  novalidate
>
  <div class="mb-3">
    <label class="form-label" for="text">Comments</label>
    <textarea
      class="form-control"
      name="comment[text]"
      ,
      id="text"
      ,
      cols="30"
      ,
      rows="3"
      required
    ></textarea>
    <div class="valid-feedback">Looks good!</div>
  </div>
  <button class="btn btn-success">Submit Comment</button>
</form>
<% } %> <% for(let comment of recipe.comments) {%>
<div class="mb-3">
  <p>Author: <%= comment.author.username %></p>
  <p>Comments: <%= comment.text %></p>
  <% if(currentUser && comment.author.equals(currentUser._id)) {%>
  <form
    action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE"
    method="POST"
  >
    <button class="btn btn-danger">delete comment</button>
  </form>
  <% } %>
</div>
<% } %>

<footer>
  <a href="/recipes">All Recipes</a>
</footer>

<script src="/js/heart.js"></script>
