<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/styles/starability.css" />
<link rel="stylesheet" type="text/css" href="/styles/heart.css" />
<link rel="stylesheet" type="text/css" href="../../styles/home.css" />
<link rel="stylesheet" type="text/css" href="../../styles/recipe.css" />
<div class="recipe-container h-100">
  <div class="row grid-row h-100" style="width: 100%">
    <div
      class="col-md-4"
      id="body-picture"
      style="background-image: url(<%= recipe.image %>)"
    >
      <div class="card bg-dark">
        <div class="card-body d-flex justify-content-between w-100">
          <div class="d-flex flex-row w-100">
            <div class="card-title col-8">
              <h5><%= recipe.name%></h5>
              <div>Made By: <%= recipe.author.username %></div>
            </div>

            <div class="col-4 d-flex flex-column">
              <p
                class="starability-result m-auto"
                data-rating="<%= recipe.averageRating %>"
              ></p>
              <div class="d-flex flex-row mt-2">
                <div class="col-6">
                  <button
                    type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#exampleModal"
                    style="background-color: orange; border: none"
                  >
                    Give Rating
                  </button>
                  <div
                    class="modal fade"
                    id="exampleModal"
                    tabindex="-1"
                    aria-labelledby="exampleModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">
                            Your Rating
                          </h5>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <form
                            action="/recipes/<%=recipe._id%>"
                            method="POST"
                            class="validated-form mb-3"
                            novalidate
                          >
                            <div class="mb-3">
                              <fieldset class="starability-basic">
                                <input
                                  type="radio"
                                  id="no-rate"
                                  class="input-no-rate"
                                  name="recipe[rating]"
                                  value="0"
                                  checked
                                  aria-label="No rating."
                                />
                                <input
                                  type="radio"
                                  id="first-rate1"
                                  name="recipe[rating]"
                                  value="1"
                                />
                                <label for="first-rate1" title="Terrible"
                                  >1 star</label
                                >
                                <input
                                  type="radio"
                                  id="first-rate2"
                                  name="recipe[rating]"
                                  value="2"
                                />
                                <label for="first-rate2" title="Not good"
                                  >2 stars</label
                                >
                                <input
                                  type="radio"
                                  id="first-rate3"
                                  name="recipe[rating]"
                                  value="3"
                                />
                                <label for="first-rate3" title="Average"
                                  >3 stars</label
                                >
                                <input
                                  type="radio"
                                  id="first-rate4"
                                  name="recipe[rating]"
                                  value="4"
                                />
                                <label for="first-rate4" title="Very good"
                                  >4 stars</label
                                >
                                <input
                                  type="radio"
                                  id="first-rate5"
                                  name="recipe[rating]"
                                  value="5"
                                />
                                <label for="first-rate5" title="Amazing"
                                  >5 stars</label
                                >
                              </fieldset>
                            </div>
                            <button
                              class="btn btn-success"
                              style="background-color: orange"
                            >
                              Submit rating
                            </button>
                          </form>
                        </div>
                        <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                <form
                  class="col-6"
                  action="/recipes/<%=recipe._id%>/saved"
                  method="post"
                >
                  <button class="btn opacity-0">
                    <i class="fa-regular fa-heart" id="heart"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" id="body-description">
      <div class="title">
        <h3><%= recipe.name%></h3>
        <hr />

        <div class="row align-items-start">
          <div class="col-10">
            <div class="mb-2">Made By: <%= recipe.author.username %></div>
            <p
              class="starability-result"
              data-rating="<%= recipe.averageRating %>"
            ></p>
          </div>
          <button
            type="button"
            class="btn btn-primary col-1"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            style="background-color: orange; border: none"
          >
            Give Rating
          </button>
          <form
            class="col-1"
            action="/recipes/<%=recipe._id%>/saved"
            method="post"
          >
            <button class="btn opacity-0">
              <i class="fa-regular fa-heart" id="heart"></i>
            </button>
          </form>
        </div>
      </div>

      <% if(currentUser && recipe.author.equals(currentUser._id)) {%>
      <div>
        <form action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
          <button>Delete Recipe</button>
        </form>
        <a href="/recipes/<%=recipe._id%>/edit">Edit recipe</a>
      </div>
      <% } %>

      <div style="margin-top: 0.5rem">
        Chicken Tacos are a classic meal that tastes great
      </div>

      <div class="group">
        <h3>Ingredients</h3>
        <hr />
        <ul style="column-count: 2">
          <li>Tortillas</li>
          <li>Ground Beef</li>
          <li>Cheese</li>
          <li>Tomatoes</li>
          <li>Lettuce</li>
          <li>Sour</li>
        </ul>
      </div>
      <div class="group">
        <h3>Instructions</h3>
        <hr />
        <ol>
          <li>Brown Ground Beef</li>
          <li>Added Spices to Beef</li>
          <li>Grate Cheese</li>
          <li>Slice Lettuce and Tomato</li>
          <li>Assmeble on Tortilla</li>
        </ol>
      </div>
      <div class="group">
        <h3>Comments</h3>
        <hr />
        <div class="form-group">
          <input
            class="form-control"
            id="comment-input"
            placeholder="Enter comment here"
          />
          <button id="comment-button">Submit</button>
        </div>

        <h1>Leave a Comment Below</h1>
        <% if(currentUser){ %>
        <form
          action="/recipes/<%= recipe._id %>/comments"
          method="POST"
          class="validated-form mb-3"
          novalidate
        >
          <div class="mb-3">
            <label class="form-label" for="text">Comments</label>
            <textarea
              class="form-control"
              name="comment[text]"
              ,
              id="text"
              ,
              cols="30"
              ,
              rows="3"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <button class="btn btn-success">Submit Comment</button>
        </form>
        <% } %> <% for(let comment of recipe.comments) {%>
        <div class="mb-3">
          <p>Author: <%= comment.author.username %></p>
          <p>Comments: <%= comment.text %></p>
          <% if(currentUser && comment.author.equals(currentUser._id)) {%>
          <form
            action="/recipes/<%= recipe._id %>/comments/<%= comment._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-danger">delete comment</button>
          </form>
          <% } %>
        </div>
        <% } %>

        <div class="group">
          <div class="comment">
            <div class="d-flex flex-row">
              <div class="d-flex flex-grow-0">
                <img
                  class="profile-pic"
                  src="../img/profile.png"
                  alt="Profile Picture"
                />
              </div>
              <div class="d-flex flex-grow-1">
                <div class="d-flex flex-column">
                  <div class="row justify-content-start align-items-center">
                    <h5 class="col-auto">John Doe</h5>
                    <div class="col-auto text-muted">2 Days Ago</div>
                  </div>
                  <div class="row justify-content-start align-items-center">
                    <div class="col-auto">
                      This recipe works well with my party!!
                    </div>
                    <i class="col-auto fa-regular fa-thumbs-up text-muted pr-0"
                      ><span
                        style="font-family: var(--bs-font-sans-serif)"
                        class="col-auto text-muted pl-0"
                      >
                        2
                      </span></i
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="reply">
            <div class="d-flex flex-row">
              <div class="d-flex flex-grow-0">
                <img
                  class="profile-pic"
                  src="../img/profile.png"
                  alt="Profile Picture"
                />
              </div>
              <div class="d-flex flex-grow-1">
                <div class="d-flex flex-column">
                  <div class="row justify-content-start align-items-center">
                    <h5 class="col-auto">John Doe</h5>
                    <div class="col-auto text-muted">2 Days Ago</div>
                  </div>
                  <div class="row justify-content-start align-items-center">
                    <div class="col-auto">
                      This recipe works well with my party!!
                    </div>
                    <i class="col-auto fa-regular fa-thumbs-up text-muted pr-0"
                      ><span
                        style="font-family: var(--bs-font-sans-serif)"
                        class="col-auto text-muted pl-0"
                      >
                        2
                      </span></i
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div><u class="text-muted">See More Comments</u></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/heart.js"></script>
